<footer class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="flex justify-center text-teal-600 sm:justify-start">
        <a routerLink="">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Zomato_company_logo.png/1200px-Zomato_company_logo.png"
            width="150px"
            alt=""
          />
        </a>
      </div>

      <p class="mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right">
        Copyright &copy; 2023. All rights reserved.
      </p>
    </div>
  </div>
</footer>
