<div class="container">
  <div class="flex">
    <div class="w-8/12 p-4 bg-gray-100 rounded-lg shadow-md">
      <div class="grid grid-cols-1 gap-4">
        <div *ngFor="let item of foodItemsList" class="card">
          <div class="card-body p-4 bg-white rounded-lg shadow-md">
            <div class="flex items-center">
              <div class="w-1/4">
                <img class="h-24 rounded-lg" [src]="item.photoUrl" />
              </div>
              <div class="w-3/4 text-right">
                <h3 class="text-xl font-semibold">{{ item.menuItemName }}</h3>
                <p class="text-sm">{{ item.description | slice : 0 : 20 }}</p>
              </div>
            </div>
            <div class="flex items-center mt-4">
              <div class="w-1/4">
                <i class="fa fa-inr" aria-hidden="true"></i>
                <span class="text-xl font-bold">{{
                  item.price | currency : "INR"
                }}</span>
              </div>
              <div class="w-3/4 text-right">
                <button
                  class="bg-green-500 py-1 px-2 rounded btn btn-primary btn-sm"
                  (click)="addtoCart(item.itemID)"
                >
                  Add To Cart
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="w-4/12 p-4 bg-gray-100 rounded-lg shadow-md">
      <div class="grid grid-cols-1">
        <div class="text-center">
          <h2 class="text-2xl font-semibold mb-4">Your Cart</h2>
        </div>
        <div *ngFor="let cart of cartItems" class="card mt-2">
          <div class="card-body p-4 bg-white rounded-lg shadow-md">
            <div class="flex items-center">
              <div class="w-1/4">
                <img class="h-16 rounded-lg" [src]="cart.photoUrl" />
              </div>
              <div class="w-3/4 text-right">
                <h3 class="text-lg font-semibold">{{ cart.menuItemName }}</h3>
                <p class="text-sm">
                  <i class="fa fa-inr" aria-hidden="true"></i>
                  {{ cart.price }} * {{ cart.quantity }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="cartItems.length === 0" class="mt-4 text-center">
          <p>Your Cart Is Empty</p>
        </div>
        <div class="flex items-center mt-4">
          <div class="w-1/2 text-right font-semibold">
            Total Amount - {{ totalAmount }}
          </div>
          <div class="w-1/2">
            <textarea
              class="form-control mt-2"
              [(ngModel)]="deliveryAddres"
              placeholder="Delivery Address"
            ></textarea>
          </div>
        </div>
        <div class="mt-4 text-center">
          <button
            class="btn btn-primary bg-purple-500 rounded px-2 py-2"
            [disabled]="cartItems.length === 0"
            (click)="onOrder()"
          >
            Place Your Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
